<div class="container">
   <div class="row">
       <div class="col center">
        {{#each model as |recipe|}}
            {{#link-to 'recipes.show' recipe.id}}
                {{recipe-single recipe.imageURL recipe.name}}
            {{/link-to}}
         {{/each}}
       </div>
       <div class="col">
           {{recipe-add switchRoute=(action "switchRoute")}}
       </div>
    </div>
</div>
{{outlet}}