<div class="container">
   {{#each model as |recipe|}}
   <div>
        {{#link-to 'recipes.show' recipe.id}}
              {{recipe-single recipe.imageURL recipe.name}}
        {{/link-to}}
    </div>
    {{/each}}
</div>
{{outlet}}